.page-footer {
    // background: url('../public/images/bg-footer.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.list-inline-item {
    cursor: pointer;
    transition: all .33s;

    &:hover {
        transform: rotate(360deg)
    }
}