.footer {
	background: url('../public/images/footer-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: center; 

	&-info {
		p {
			font-family: Muli;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			span {
				font-family: Poppins;
				font-style: normal;
				font-weight: bold;
				font-size: 30px;
			}
		}
	}

	&-logo {
		max-width: 85%;
	}		
}

.line {
	display: block;
	width: 100%;
	height: 2px;
	background-color: #ff7234b3;
}