#sidebar-wrapper {
  background: url('../public/images/Menu.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 120vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  width: 135px;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.sidebar-menu {
  height: 80vh;
  padding-top: 275px;
  &__link {
    display: block;
    // transform: rotate(-90deg);
    writing-mode:tb-rl;
    // margin: 100px 0;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
  }

  .line {
    width: 1px;
    height: 50px;
    background-color: white;
    display: block;
    writing-mode:tb-rl;
    margin-left: 60px !important; 
  }
}



.hamburger {
  // position: fixed;
  top: 32px;
  left: 16px;
  z-index: 99;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    transition: all .33s;
    position: relative;
    display: block;
    background-color: #fff;
    width: 32px;
    height: 2px;

    &:after, &:before {
      content: '';
      transition: all .33s;
      display: block;
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: #fff;
      // left: 4px;
    }
      
    &:after {
      top: -6px;
      width: 32px;

    }
    &:before {
      bottom: -6px;
      width: 32px;
    
    }
  }
    
   

    
  &.active {
    span {
      background-color: transparent;
      &:after, &:before {
        top: 0;
        bottom: 0;
      }
        
      &:after {
        transform: rotate(-45deg);
      }

      &:before {
        transform: rotate(45deg);
      }
    }
  }
}


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}